Package: com.p2kdev.tinge
Maintainer: P2KDev
Depiction: 
SileoDepiction: 
Icon: 
Section: 美化插件
Architecture: iphoneos-arm64e
Version: 1.2.2
Depends: firmware (>= 15.0), mobilesubstrate, ws.hbang.alderis
Description: 通知角标颜色。跟随应用图标颜色自适应变色！
Name: Tinge角标颜色-Roothide
Author: P2KDev
Pre-Depends: rootless-compat(>= 0.9)
