Package: net.limneos.bioprotectxs-rootless
Name: BioProtectXS应用加密-Roothide
Depends: mobilesubstrate, preferenceloader, xyz.cypwn.limneos
Conflicts: net.limneos.bioprotect, net.limneos.bioprotectx, com.pulandres.audiorecorderxs, com.pulandres.callbarxs, com.repo.xarold.com.audiorecorderxs, com.pulandres.bioprotectxs, net.pulandres.nfcwriterx, com.repo.xarold.com.nfcwriterx, com.pulandres.limneosos, com.repo.xarold.com.limneosos
Icon: file:///Library/PreferenceBundles/BioProtectPrefs.bundle/BioProtect.png
Description: 使用密码和面容加密应用。支持iOS14-iOS18
Depiction: http://limneos.net/bioprotectxs
SileoDepiction: https://limneos.net/cydia/sileo-depiction.php?package=net.limneos.bioprotectxs
Maintainer: Elias Limneos <limneoselias@gmail.com>
Author: Elias Limneos <limneoselias@gmail.com>
Section: Tweaks
MainLibMD5: 11a31f2c14af96f0ee846d1e06d5cfd0
Architecture: iphoneos-arm64e
Version: 4.7-4
Installed-Size: 2328
Pre-Depends: rootless-compat(>= 0.9)
